#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
define service {               
    use                             active-service                  
    host_name                       {{ hostname }}
    service_description             {{ description }}
    check_command                   check_nrpe!{{ check_name }}
    servicegroups                   {{ servicegroups }}
}
