# Maintained by juju. Local changes will be lost

<Plugin write_http>
  <URL "http://{{ config.http_endpoint }}{{ config.http_path }}">
    Format "{{ config.http_format }}"
    StoreRates {{ config.http_rates }}
  </URL>
</Plugin>

